*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgba(255, 152, 0, 0.8);
    color: #fff;
    font-size: 14px;
    padding: 1.5% 1.5% 0.5% 1.5%;
}

#menu {
    font-weight: 600;
    display: flex;
}

#menu>p {
    margin: 0.3%;
    padding: 0.4% 0.4% 0 0.4%;
}

.titulo {
    color: #635D5C;
    font-size: 12px;
    padding: 0.5%;
    margin: 1% 1% 1% 6%;
}

#problema, #descricao {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.form {
    background-color: rgba(140, 198, 63, 0.8);
    color: #fff;
    padding: 2%;
    margin: 1% 6% 1% 6%;
    border-radius: 20px;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

p, input, select, textarea {
    margin-left: 2%;
    padding: 0.5%;
    font-weight: 400;
}

input, select, textarea {
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    color: #fff;
}

#textarea {
    margin-left: 4.2%;
    height: 200px;
    width: 600px;
}

input:focus, select:focus, textarea:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #FF9800;
    outline: none;
}

#form_botoao {
    font-weight: 500;
    margin: 2%;
    text-align: center;
}

#botao {
    color: #fff;
    border-radius: 10px;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    background-color: #8CC63F;
    padding: 0.5%;
    width: 10%;
    height: 5%;
    cursor: pointer;
}

#botao:hover {
    background-color: #fff;
    border-color: #8CC63F;
    color:#8CC63F;
}

#botao:focus {
    background-color: #8CC63F;
    border-color: #fff;
    color:#fff;
}
